@layer components{
  .active-link{
    color:#f5c542 !important;
    position:relative;
    display:inline-block;
  }

  .active-link::after{
    content:"";
    position:absolute;
    left:0;
    bottom:0px;
    width:100%;
    height:2px;
    background:#f5c542;
    border-radius:9999px;
    animation:slideIn 0.5s ease forwards;
  }
}

@keyframes slideIn{
  from{ transform:scaleX(0); transform-origin:left; }
  to{ transform:scaleX(1); transform-origin:left; }
}

